.new-task {
    /* Position */
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);

    /* Button styles */
    background-color: var(--dark-done);
    border: none;
    box-shadow: 0px 2px 8px rgba(87, 223, 158, 0.3);
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 2rem;

    /* Text */
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--dark-cta-text);

    /* Inner content */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title {
    margin: 0;
}

.all-tasks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.to-do-label {
    color: var(--dark-done);
}