.welcome-image {
    opacity: 50%;
    width: 16rem;
    align-self: center;
    margin: 1.5rem;
}

.title {
    margin-top: 0;
    align-self: flex-start;
}

.welcome-label {
    color: #C6C6D1;
    align-self: center;
    font-size: 0.875rem;
    margin-bottom: 4.25rem;
}

.login-label {
    color: #C6C6D1;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    display: inline-block;
}

#root {
    height: 100%;
}