.order-tasks-container {
    display: flex;
    flex-direction: column;
}

.order-options {
    display: flex;
    gap: 2rem;
}

.order-option {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
}

.order-option p {
    margin: 0;
}

.asc {
    transform: rotate(180deg);
}

.order-option-label {
    font-size: 0.875rem;
}