.pill {
    padding: 0.5rem;
    display: inline-block;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 0.75rem;
}

.IN_PROGRESS {
    background-color: #3774B9;
}

.TO_DO {
    background-color: #C7424A;
}

.DONE {
    background-color: var(--dark-done);
    color: var(--dark-cta-text);
}